.biasbox_container {
  background-color: #ffffff;
  width: 230px;
  border-radius: 10px;
  border: 0.5px solid rgba(124, 125, 136, 0.43);
  box-shadow: 2px 2px rgba(124, 125, 136, 0.43);
  text-align: center;
  margin: 5px;
  overflow: hidden;
}
.biasbox_cat_container{
    display: flex;
    flex-wrap: wrap;
}

.biasbox_cat{
    width: 34px;
    height: 17px;
    border-end-end-radius: 10px;
    #border-end-start-radius: 10px;
}
.biasbox_name, .biasbox_description, .biasbox_example {
   color: #7c7d88;
   padding-right: 10px;
   padding-left: 10px;
   text-align: center;
}

.biasbox_name {
  font-weight: bold;
  padding-right: 25px;
  padding-left: 25px;
}

.biasbox_description {

}
.biasbox_icon {
  height: 90px;
  text-align: center;
}

.biasbox_example {
  font-style: italic;
}