.biascategory_container {
  background-color: #ffffff;
  width: 230px;
  border-radius: 5px;
  border: 0.5px solid rgba(124, 125, 136, 0.43);
  box-shadow: 2px 2px rgba(124, 125, 136, 0.43);
  text-align: center;
  margin: 5px;
  overflow: hidden;
}

.biascategory_text{
  color: #ffffff;
  padding: 5px;
}
